body{
    background-color: white;
}

.my-list-group-item{
    text-align: center;
    text-align: left;
    width:auto;
    height:auto;
}

.list-group-item-action.active{
    background-color: gray;
}

.list-group-item-action:hover{
    background-color: lightgray;
}

h2 {
    font-weight: bold;
}

#main-alert-holder {
    position:fixed;
    margin:auto;
    left: 0;
    right: 0;
    z-index:200000;
}