

.my-list-item { 
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.active.list-group-item-action:hover{
    color:white;
    background-color:#0275d8;
}

.active-link{
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.list-group-item-action:hover{
    background-color: lightgray;
}

.landingPageHeading {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

#main-alert-holder {
    position:fixed;
    top:50px;
    right:0;
    z-index:1035;
    padding:1rem;
}

.custom-alert {
    width: 10em;

}

.btn-sq-lg {
    width: 25% !important;
    height: 150px !important;
    font-size:22px;
}

  .empHolder {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height:8em; 
    overflow:auto;
}

.cal {
    padding-top: 1rem;
}

.header-item {
    white-space: nowrap;
}

.landingPageImages {
    background: #B2E0FF;
    width: 100vw;
    position:relative;
    left: calc(-1 * (100vw - 100%) / 2);
}

#brandButton{
}