

.my-list-item { 
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.list-group-item-action.active{
    border-color: lightgray;
}

.list-group-item-action:hover{
    background-color: lightgray;
}
.landingPageHeading {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

#main-alert-holder {
    position:fixed;
    margin:auto;
    left: 0;
    right: 0;
    z-index:200000;
}

.btn-square {
    width: 350px;
    height: 200px;
}
